body {
  font-family: Arial, sans-serif;
  background-color:rgb(250, 230, 192);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contact Form */
.contact-form {
  background: rgb(83, 2, 2);
  padding: 30px;
  margin:50px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  }

.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color:white;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 80px;
}

.contact-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}
